*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(./public/3264451.jpg);
    background-repeat: repeat;
}