*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(./public/6c479787d54fe73436b82e56ed99885e.gif);
    background-repeat: repeat;
}