/*site com botão personalizados: https://www.brasilcode.com.br/35-botoes-css-com-animacao/*/

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-h1 {
    line-height: 2.5;
    font-size: 40px;
    color: rgb(13, 66, 209);
}

.container-filho {
    position: relative;
    height: 55vh;
    width: 55vw;
    border: 1px black solid;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(./../../public/pixel-game-1920-x-1080-background-376tmkaby01gblvf.jpg);
    border: 3px#ec9a1e solid;
    box-shadow: 10px 10px 10px -5px #050505;
    border-radius: 10px;
}

.container-header {
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-around;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.cta {
    display: flex;
    padding: 10px 45px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: white;
    background: #6225E6;
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
}

.cta:focus {
    outline: none;
}

.cta:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 #FBC638;
}

.cta span:nth-child(2) {
    transition: 0.5s;
    margin-right: 0px;
}

.cta:hover span:nth-child(2) {
    transition: 0.5s;
    margin-right: 45px;
}

span {
    transform: skewX(15deg)
}

span:nth-child(2) {
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 12%;
}


path.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

path.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.cta:hover path.three {
    animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}


@keyframes color_anim {
    0% {
        fill: white;
    }

    50% {
        fill: #FBC638;
    }

    100% {
        fill: white;
    }
}

@media screen and (min-width: 275px) and (max-width: 700px),
(max-width: 440px),
(min-width: 375px) and (max-width: 500px),
(min-width: 500px) and (max-width: 800px),
(min-width: 600px) and (max-width: 1000px) {
    .cta {
        padding: 5px 22px;
        font-size: 20px;
        background: #6225E6;
        box-shadow: 3px 3px 0 black;
    }

    .container-filho {
        width: 80vw;
    }
}

@media screen and (max-width: 768px) {
    .container-filho {
        width: 95vw;
        height: auto;
        min-height: 60vh;
        padding-bottom: 20px;
    }

    .container-h1 {
        font-size: 20px;
        line-height: 1.2;
        margin-bottom: 5px;
    }

    .cta {
        padding: 5px 15px;
        font-size: 16px;
    }

    .cta svg {
        width: 30px;
        height: 20px;
    }
}