.container-formulario {
    position: relative;
    background-color: rgba(124, 84, 39, 0.938);
    opacity: 0.8;
    border-radius: 30px;
    display: none;
    grid-template: 
      "titulo titulo" 100px 
      "option option" 1fr 
    ;
    gap: 8px;


    height: 90%;
    width: 60%;
    color: rgb(255, 248, 248);
    font-family: BlinkMacSystemFont, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


.titulo{
    grid-area: titulo;
    border: 4px solid rgba(221, 208, 208, 0.781);
    border-style: double;
    border-width: 7px;
    text-align: center;
}

.titulo h2{
    color: rgb(240, 237, 237);
    opacity: 1;
}

.options{
    grid-area: option;
    border: 4px solid rgba(221, 208, 208, 0.781);
    border-style: double;
    border-width: 7px;
    text-align: center;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form input{
    padding: 12px 16px;
    border: 2px solid #ddd;
    border-radius: 8px; 
    font-family: inherit;    
    font-size: 1rem;   
    outline: none;
}

.button{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    color: #ddd;
    background-color: rgb(99, 30, 210);
    transition: all 0.3s; 
}

.button:hover{
    background-color: darkcyan;
}

.velha{
    width: 60px;
    height: 60px;
    background-color: palegreen;
    color: rgb(13, 11, 122);
    border-radius: 20px;
}




