.container-formulario {
    position: relative;
    background-color: rgba(32, 161, 108, 0.3);
    box-shadow: 10px 10px 10px -5px #050505;
    border-radius: 30px;
    display: none;
    grid-template:
        "titulo titulo" 100px "option option" 1fr;
    gap: 8px;


    height: 90%;
    width: 60%;
    color: rgb(255, 248, 248);
    font-family: BlinkMacSystemFont, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


.titulo {
    grid-area: titulo;
    border: 4px solid rgba(221, 208, 208, 0.781);
    border-style: double;
    border-width: 7px;
    text-align: center;
}

.titulo h2 {
    color: rgb(240, 237, 237);
    opacity: 1;
}

.options {
    grid-area: option;
    border: 4px solid rgba(221, 208, 208, 0.781);
    border-style: double;
    border-width: 7px;
    text-align: center;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form input {
    padding: 12px 16px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-family: inherit;
    font-size: 1rem;
    outline: none;
}

form label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity: 1;
}

.button {
    width: 100px;
    height: 35px;
    border-radius: 10px;
    color: #ddd;
    background-color: rgb(99, 30, 210);
    transition: all 0.3s;
}

.button:hover {
    background-color: darkcyan;
}

.velha {
    width: 60px;
    height: 60px;
    background-color: palegreen;
    color: rgb(13, 11, 122);
    border-radius: 20px;
}

.label {
    font-size: 25px;
}


@media screen and (max-width: 768px) {
    .container-formulario {
        place-items: center;
        place-content: center;
        grid-template:
            "titulo titulo" auto
            "option option" 1fr
        ;
        gap: 5px;
        height: auto;
        max-height: 90vh;
        width: 95%;
        padding: 10px;
        overflow-y: auto;
    }

    .titulo {
        height: auto;
        padding: 5px;
        border-width: 4px;
    }

    .options {
        height: auto;
        min-height: 200px;
        border-width: 4px;
        padding: 5px;
    }

    .titulo h2 {
        font-size: 12px;
        /* Reduced from 16px */
        margin: 0;
    }

    form input {
        padding: 6px 8px;
        font-size: 12px;
        /* Reduced from 14px */
        width: 90%;
    }

    .button {
        width: 70px;
        height: 25px;
        font-size: 10px;
        /* Reduced from 12px */
    }

    .label {
        font-size: 11px;
        /* Reduced from 14px */
    }

    .velha {
        width: 35px;
        height: 35px;
    }

    .velha svg {
        width: 10px;
        height: 10px;
    }
}