.gamer{
    display: none;

    grid-template-columns: repeat(3, max-content);

    grid-template-rows: repeat(3, max-content);

    place-items: center;
    place-content: center;

    gap: 1px;

    background-color: transparent;
    height: 100%;
    width: 100%;
    margin-top: 100px;
}

.matriz{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    border: 1px solid rgb(52, 30, 75);
    box-shadow: 10px 10px 10px -5px #050505;
    border-radius: 10px;
}

#matriz-1{
  background-color: rgb(228, 149, 32);
  border: 1px solid rgb(52, 30, 75);
}

#matriz-2{
  background-color: chartreuse;
  border: 1px solid rgb(52, 30, 75);
}

#matriz-3{
  background-color: rgb(228, 149, 32);
  border: 1px solid rgb(52, 30, 75);
}

#matriz-4{
    background-color: chartreuse;
    border: 1px solid rgb(52, 30, 75);
}

#matriz-5{
    background-color: chartreuse;
    border: 1px solid rgb(52, 30, 75);
}

#matriz-6{
    background-color: chartreuse;
    border: 1px solid rgb(52, 30, 75);
}


#matriz-7{
    background-color: rgb(228, 149, 32);
    border: 1px solid rgb(52, 30, 75);
}


#matriz-8{
    background-color: chartreuse;
    border: 1px solid rgb(52, 30, 75);
}


#matriz-9{
    background-color: rgb(228, 149, 32);
    border: 1px solid rgb(52, 30, 75);
}